*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

*::selection{
    background: #E6D690;
}

/* body */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    background-image: linear-gradient(to left, #fff 0%, #d7e1ec 74%);
}

/* header */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    flex-direction: column;
}

header p{
    font-size: 1rem;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form input{
    font-size: 2rem;
    margin-bottom: 10px;
}

#submit_btn{
    font-size: 1.5rem;
    width: 25%; 
    color: #000;
    cursor: pointer;
    background-color: #fff;
}

#submit_btn:hover{
    background-color: rgb(230, 230, 230);
}

span#user_ip{
    color: tomato;
}

/* results div */

#results{
    display: flex;
    width: 60vw;
    border: 1px solid black;
    background: #fff;
    flex-direction: row;
}

/* ip_details div */

#ip_details{
    background: #fff;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    width: 50%;
    border: 0.1px solid black;
}

#ip_details span{
    color: tomato;
}

/* others div */

#others{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 3rem;
    align-items: center;
    border: 0.1px solid black;
}

#others img{
    height: 150px;
    width: 250px;
}

#others button{
    margin-top: 10px;
}

#map_link{
    border: 2px solid black;
    padding: 3px;
    margin-top: 10px;
    color: #000;
    background-color: #fff;
    
}

#map_link:hover{
    background-color: rgb(230, 230, 230);
}