*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

*::selection{
    background: #E6D690;
}

/* body */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    background-image: linear-gradient(to left, #fff 0%, #d7e1ec 74%);
}

/* header */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    flex-direction: column;
}

header p{
    font-size: 1rem;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form input{
    font-size: 2rem;
    margin-bottom: 10px;
}

#submit_btn{
    font-size: 1.5rem;
    width: 25%; 
    color: #000;
    cursor: pointer;
    background-color: #fff;
}

#submit_btn:hover{
    background-color: rgb(230, 230, 230);
}

span#user_ip{
    color: tomato;
}

/* results div */

#results{
    display: flex;
    width: 60vw;
    background: #fff;
    flex-direction: row;
    border: 0.1px solid red;
}

/* ip_details div */

#ip_details{
    background: #fff;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    border: 0.1px solid black;
    width: 30vw;
}

#ip_details span{
    color: tomato;
}

/* others div */

#others{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    border: 0.1px solid black;
    width: 30vw;
}

#others img{
    height: 150px;
    width: 250px;
}

#others button{
    margin-top: 10px;
}

#map_link{
    border: 2px solid black;
    padding: 3px;
    margin-top: 10px;
    color: #000;
    background-color: #fff;
    
}

#map_link:hover{
    background-color: rgb(230, 230, 230);
}

/* Media Queries */
@media (max-width: 1200px)
{
    header p, #user_ip{
        font-size: 1.5rem;
    }
    #form input{
        font-size: 3rem;
    }
    #form button{
        font-size: 2rem;
    }
    #results{
        flex-direction: column;
        width: 60%;
        font-size: 1.2rem;
    }
    #results > *{
        width: auto;
    }
}

@media (max-width: 1030px){
    header p, #user_ip{
        font-size: 1.3rem;
    }
    #form input{
        font-size: 2.5rem;
    }
    #form button{
        font-size: 2rem;
    }
    #results{
        width: 80%;
    }
}

@media (max-width: 600px){
    header p, #user_ip{
        font-size: 1.2rem;
    }
    #form input{
        font-size: 2rem;
    }
    #form button{
        font-size: 1.5rem;
    }
    #results{
        width: 100%;
    }
}